<div class="row">
  <div class="col-md-2 panel panel-default navlinks">
    <% @services.each do |sv| %>
      <h5><a href="#<%= sv.name %>"><%= sv.name %></a></h5>
    <% end %>
    <hr noshade>
    <h5><a href="#">Back to top</a></h5>
  </div>
</div>
<div class="row">
  <% @services.each do |sv| %>
    <div class="col-md-9 col-md-offset-3">
      <div class="panel panel-default">
        <div class="panel-heading">
          <h4 id="<%= sv.name %>" class="text-center"><i class="fa fa-<%= sv.icon %>"></i> <%= sv.name %></h4>
        </div>
        <div class="panel-body">
          <p><%= sv.desc %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>