<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
          Blurbs <small>Appears on the home page</small>
          <%= link_to new_blurb_path, class: "pull-right btn btn-primary" do %>
            <i class="fa fa-plus"></i>
             New Blurb
          <% end %>
        </h2>
      </div>
      <div class="panel-body">
        <% @blurbs.each do |b| %>
          <h4 class="well"><i class="fa fa-<%= b.icon %>"></i> <%= b.title %>
            <%= link_to b, method: :delete, data: { confirm: "You sure?" } do %>
              <i class="fa fa-times-circle pull-right red"></i>
            <% end %>
            <%= link_to edit_blurb_path(b) do %>
              <i class="fa fa-pencil-square-o pull-right"></i>
            <% end %>
            <%= link_to b do %>
              <i class="fa fa-eye pull-right"></i>
            <% end %>                                                                     
          </h4>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
          Stores <small>Appears on the locations page</small>
          <%= link_to new_store_path, class: "pull-right btn btn-primary" do %>
            <i class="fa fa-plus"></i>
            New Store
          <% end %>
        </h2>
      </div>
      <div class="panel-body">
        <% @stores.each do |s| %>
          <h4 class="well"><i class="fa fa-building-o"></i> <%= s.title %>  
            <%= link_to s, method: :delete, data: { confirm: "You sure?" } do %>
              <i class="fa fa-times-circle pull-right red"></i>
            <% end %>
            <%= link_to edit_store_path(s) do %>
              <i class="fa fa-pencil-square-o pull-right"></i>
            <% end %>
            <%= link_to s do %>
              <i class="fa fa-eye pull-right"></i>
            <% end %>
          </h4>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
          Services <small>Appears on the services page</small>
          <%= link_to new_service_path, class: "pull-right btn btn-primary" do %>
            <i class="fa fa-plus"></i>
            New Service
          <% end %>
        </h2>
      </div>
      <div class="panel-body">
        <% @services.each do |sv| %>
          <h4 class="well"><i class="fa fa-<%= sv.icon %>"></i> <%= sv.name %>  
            <%= link_to sv, method: :delete, data: { confirm: "You sure?" } do %>
              <i class="fa fa-times-circle pull-right red"></i>
            <% end %>
            <%= link_to edit_service_path(sv) do %>
              <i class="fa fa-pencil-square-o pull-right"></i>
            <% end %>
            <%= link_to sv do %>
              <i class="fa fa-eye pull-right"></i>
            <% end %>
          </h4>
        <% end %>
      </div>
    </div>
  </div>
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h2>
          Links <small>Appears on contact page</small>
          <%= link_to new_link_path, class: "pull-right btn btn-primary" do %>
            <i class="fa fa-plus"></i>
            New link
          <% end %>
        </h2>
      </div>
      <div class="panel-body">
        <% @links.each do |l| %>
          <h4 class="well"><i class="fa fa-<%= l.icon %>"></i> <%= l.name %>
            <%= link_to l, method: :delete, data: { confirm: "You sure?" } do %>
              <i class="fa fa-times-circle pull-right red"></i>
            <% end %>
            <%= link_to edit_link_path(l) do %>
              <i class="fa fa-pencil-square-o pull-right"></i>
            <% end %>
            <%= link_to l do %>
              <i class="fa fa-eye pull-right"></i>
            <% end %>
          </h4>
        <% end %>
      </div>
    </div>
  </div>
</div>