<div class="col-md-9 col-md-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">
    <h4 id="<%= store.title %>" class="head"><i class="fa fa-building-o"></i> <%= store.title %>|<small><i class="fa fa-mobile"></i> <%= store.number %></small></h4>
  </div>
  <div class="panel-body">
    <div class="details">
      <p class="text-center"><%= store.address %></p>
      <p class="text-center"><i class="fa fa-clock-o"></i> <%= store.hours %></p>
    </div>
  </div>
  </div>
</div>
