<div class="row">
  <div class="col-md-12">
    <div class="panel panel-default">
      <div class="panel-heading">
        <h1 class="text-center"><a href="/admin"><i class="fa fa-reply pull-left"></i></a> <%= @store.title %></h1>
      </div>
      <div class="panel-body">
        <ul>
          <li><%= @store.number %></li>
          <li><%= @store.address %></li>
          <li><%= @store.hours %></li>
        </ul>
        <% if @store.gmap.blank? %>
        <% else %>
          <%= @store.gmap %>
        <% end %>
      </div>
    </div>
  </div>
</div>