<div class="form-group">
  <%= f.label :title %>
  <%= f.text_field :title, class: "form-control" %>
</div>

<div class="form-group">
  <%= f.label :desc, "Description" %>
  <%= f.text_area :desc, class: "form-control", rows: "6" %>
</div>

<div class="form-group">
  <%= f.label :icon %>
  <%= f.text_field :icon, class: "form-control" %>
</div>