<nav class="navbar navbar-inverse navbar-static-top" role="navigation">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" 
              class="navbar-toggle" 
              data-toggle="collapse"
              data-target=".navbar-collapse">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <%= link_to "Gameroom", root_path, class: "navbar-brand" %>
    </div>
    <div class="collapse navbar-collapse">
      <!--Left navbar section-->
      <ul class="nav navbar-nav">
        <li class="dropdown">
          <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
             Locations <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% @stores.each do |s| %>
              <li><a href="locations#<%= s.title %>"><%= s.title %></a></li>
            <% end %>
          </ul>
        </li>
        <li class="dropdown">
          <a href="#"
             class="dropdown-toggle"
             data-toggle="dropdown">
             Services <b class="caret"></b>
          </a>
          <ul class="dropdown-menu">
            <% @services.each do |sv| %>
              <li><a href="services#<%= sv.name %>"><%= sv.name %></a></li>
            <% end %>
          </ul>
        </li>
        <li><%= link_to "Contact", contact_path %></li>
        <li><%= link_to "About",   about_path   %></li>
      </ul>
      <!--Right navbar section-->
    </div>
  </div>
</nav>